name: Test and Lint

on: pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]
        os: [
          ubuntu-18.04,
          ubuntu-20.04,
          windows-latest,
          macOS-10.15,
        ]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test]
      - name: Download Test Resources
        run: |
          python scripts/download_test_resources.py --debug
      - name: Run tests with Tox
        # Run tox using the version of Python in `PATH`, and don't include remote resources
        run: tox -e py -- -k "not REMOTE"
      - name: Upload codecov
        uses: codecov/codecov-action@v1

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test]
      - name: Lint
        run: |
          flake8 aicsimageio --count --verbose --show-source --statistics --exclude aicsimageio/metadata/czi-to-ome-xslt/
          isort aicsimageio --check-only --skip aicsimageio/metadata/czi-to-ome-xslt/
          mypy aicsimageio --exclude aicsimageio/metadata/czi-to-ome-xslt/
          black --check aicsimageio --exclude aicsimageio/metadata/czi-to-ome-xslt/

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install .[dev]
      - name: Generate Docs
        run: |
          gitchangelog
          make gen-docs
